{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css"> {% endcomment %}
    <!-- bootstrap -->
    <meta charset="UTF-8">
    <title>管理界面</title>
</head>

<body>

<h1>用户查询</h1>
<a href="http://127.0.0.1:8000/user/info/">查询</a>

<h1>菜单修改</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>菜名</th>
            <th>价格</th>
            <th>操作</th>
        </tr>
    </head>
    <tbody>
    {% for obj in data_list %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.price }}</td>
            <td>
                <a href="/menu/edit/{{ obj.id }}/">编辑</a>
                <a href="/menu/delete/{{ obj.id }}/">删除</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h1>菜品添加</h1>
<form method="post" action="/auth/add/">

    {% csrf_token %}
    <input type="text" name="name" placeholder="菜名">
    <input type="text" name="price" placeholder="价格">
    <input type="text" name="marketer" placeholder="商家">
    <input type="submit" value="提交">
</form>

<h1> </h1>
<div> </div>
<a href="http://127.0.0.1:8000/menu/info/">返回主菜单</a>

</body>
</html>