{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css"> {% endcomment %}
    <!-- bootstrap -->
    <meta charset="UTF-8">
    <title>菜品查询</title>
</head>
<body>
<h1>菜品信息</h1>
<table border="1">
    <thead>
        <tr>
            <th>菜名</th>
            <th>价格</th>
        </tr>
    </head>
    <tbody>
        <tr>
            <td>{{ name }}</td>
            <td>{{ price }}</td>
        </tr>
    </tbody>
</table>
<hr>
<a href="http://127.0.0.1:8000/menu/info/">返回菜单</a>"

</body>
</html>