{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜单</title>
</head>
<body>
<h1>点菜菜单</h1>
<form method="post" action="/menu/checkout/">
    {% csrf_token %}
    <table border="1">
        <thead>
            <tr>
                <th>选择</th>
                <th>ID</th>
                <th>菜名</th>
                <th>价格</th>
            </tr>
        </thead>
        <tbody>
        {% for obj in data_list %}
            <tr>
                <td><input type="checkbox" name="selected_dishes" value="{{ obj.id }}"></td>
                <td>{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="结算">
</form>

<h1> 菜品查询 </h1>
<form method="post" action="/menu/info/find/">
    {% csrf_token %}
    <input type="text" name="name" placeholder="香精煎鱼">
    <input type="submit" value="提交">
</form>

<h2> 管理员模式 </h2>
<a href="http://127.0.0.1:8000/auth">切换模式</a>
</body>
</html>
