{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %} <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css"> {% endcomment %}
    <!-- bootstrap -->
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
<h1>用户列表</h1>

<a href="/user/add/">添加</a>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>密码</th>
            <th>电话</th>
            <th>地址</th>
            <th>操作</th>
        </tr>
    </head>
    <tbody>
    {% for obj in data_list %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.name }}</td>
            <td>{{ obj.password }}</td>
            <td>{{ obj.phone }}</td>
            <td>{{ obj.address }}</td>
            <td>
                <a href="/user/edit/{{ obj.id }}/">编辑</a>
                <a href="/user/delete/{{ obj.id }}/">删除</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div></div>
<a href="/auth/">返回</a>
</body>
</html>